---

import { Icon } from 'astro-icon/components'
---

<nav id="navRef">
  <div class="container mx-autoflex sm:hidden flex-col md:justify-between md:items-center ">
    <div class="flex flex-row px-5 w-screen justify-between items-center bg-black">
     
      <!-- Mobile menu button -->
      <div class="flex md:hidden">
        <button type="button" id="menu-button" class=" text-white hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
          <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
            <path fill-rule="evenodd" d="M4 5a1 1 0 011-1h14a1 1 0 110 2H5a1 1 0 01-1-1zm0 6a1 1 0 011-1h14a1 1 0 110 2H5a1 1 0 01-1-1zm1 6a1 1 0 100 2h14a1 1 0 100-2H5z"></path>
          </svg>
        </button>
      </div>

        <!-- Brand -->  
        <img src="/tiktok.svg" alt="TikTok" class="h-16 w-16" />

        <!-- Right buttons -->

            <button class="flex flex-row items-center justify-center text-white">
                <Icon name="bx:camera-movie" class="w-6 h-6" />
            </button>
          
      
    </div>

    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
    <div class={` absolute top-0 left-0 h-screen w-3/5 bg-white hidden z-10`} id="menu">
        <div class="container mx-auto py-3 gap-4 flex flex-col ">
            <button type="button" id="menu-button2" class=" text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
                <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                  <path fill-rule="evenodd" d="M4 5a1 1 0 011-1h14a1 1 0 110 2H5a1 1 0 01-1-1zm0 6a1 1 0 011-1h14a1 1 0 110 2H5a1 1 0 01-1-1zm1 6a1 1 0 100 2h14a1 1 0 100-2H5z"></path>
                </svg>
              </button>
            <a class="my-1 text-sm flex flex-row items-center text-black font-medium hover:text-[#FE2C55] md:mx-4 md:my-0" href="#"> <Icon name="bx:home-alt-2" class="w-6 h-6" /> <p>For You</p></a>
            <a class="my-1 text-sm flex flex-row items-center text-black font-medium hover:text-[#FE2C55] md:mx-4 md:my-0" href="#"> <Icon name="bx:user" class="w-6 h-6" /> <p>Following</p></a>
            <a class="my-1 text-sm flex flex-row items-center text-black font-medium hover:text-[#FE2C55] md:mx-4 md:my-0" href="#"> <Icon name="bx:camera-movie" class="w-6 h-6" /> <p>LIVE</p></a>
            <a class="my-1 text-sm flex flex-row items-center text-black font-medium hover:text-[#FE2C55] md:mx-4 md:my-0" href="#"> <Icon name="bx:compass" class="w-6 h-6" /> <p>Explore</p></a>
            <div class=" w-full h-1 bg-gray-100"></div>    
            
    
      </div>
    </div>
  </div>
</nav>

<script>
const button = document.getElementById('menu-button');
    /* event listener */
    button!.addEventListener('click', () => {
      const menu = document.getElementById('menu');
      menu!.style.display = menu!.style.display === 'none' ? 'flex' : 'none';
    });
    
const button2 = document.getElementById('menu-button2');
    /* event listener */
    button2!.addEventListener('click', () => {
      const menu = document.getElementById('menu');
      menu!.style.display = menu!.style.display === 'none' ? 'flex' : 'none';
    });

</script>